.banner-sm {
  height: 200px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
}

.text-gold {
  color: $gold;
}
.text-gray {
  color: $light-gray;
}

#flat-description {
    background: #F5F5F5;
    padding: 50px 0;
    padding-bottom: 100px;
    font-size: 14px;
    color: #000000
}
