// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F2F2F2;
$black: #363636;
$dark-gray: #838383;
$mid-gray: #B9B9B9;
$shamrock: #41DCB5;
$gold: #ffb400;
